@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Exo2";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Exo2-Black.ttf") format("ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Exo2;
}
body {
  height: 100%;
  width: 100%;
}

img {
  object-fit: cover;
  width: 50px;
}
